body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    position: fixed;
    transition: width 0.3s;
}

.sidebar h2 {
    text-align: center;
    color: #009879;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #009879;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #009879;
    color: #fff;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#calendar-container {
    margin-top: 50px;
}

#calendar th,
#calendar td {
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

#calendar td:hover {
    background-color: #f4f4f4;
}

#calendar td.reserved {
    background-color: #ffcccb;
}

#calendar td.reserved:hover {
    background-color: #ff9999;
}